.card {
  background: #222;
  border-radius: 4px;
  box-shadow: 3px 3px 2px #000;
  color: #fff;
  cursor: move;
  height: 150px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

/* If width is less than 600 do this stuff */
@media (max-width: 600px)
{
  html {
  }
  body {
  }
  .card {
    height: 7.5%;
    width: 5%;
  }
}
