.card {
  background: #222;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #999;
  color: #fff;
  cursor: move;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}
